.ContainerRoot
{
	align: center top;
	margin-top: 70px;
	flow-children: right;
}

.AvatarContainer
{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #00ff00;    
}
.AvatarLevelText
{
	align: center top;
	color: white;
	margin-top: 11px;
	font-size: 24px;
}
.AvatarLevelInfo, .AvatarHealthInfo, .AvatarSoulInfo, .AvatarObeliskInfo
{
	horizontal-align: center;
	font-size: 12px;
	color: white;

	visibility: collapse;
}

.AvatarLevelInfo	{ margin-top: 10px;	}
.AvatarHealthInfo	{ margin-top: 25px;	}
.AvatarObeliskInfo	{ margin-top: 40px;	}
.AvatarSoulInfo		{ margin-top: 55px;	}
.AvatarContainerHover
{
	height: 80px;
}
.AvatarContainerHover .AvatarLevelText
{
	visibility: collapse;
}
.AvatarContainerHover .AvatarLevelInfo, .AvatarContainerHover .AvatarHealthInfo, .AvatarContainerHover .AvatarSoulInfo, .AvatarContainerHover .AvatarObeliskInfo
{
	margin-left: 2px;
    visibility: visible;
}

#AvatarContainerDire
{
	background-color: green;  
}

#AvatarContainerRadiant
{
	background-color: red;  	
}

.MonolithContainer
{
	align: center top;
	height: 15px;
	width: 500px;
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 20px; 
	background-color: red;
}

#MonolithRadiant
{
	horizontal-align: left;
	background-color: green;
	height: 100%;
	width: 250px; 
	transform: scaleX(1);  
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: linear;
}